<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Meu Site</title>

<style>
body{
    margin:0;
    font-family:Arial;
    background:linear-gradient(135deg,#4facfe,#00f2fe);
    color:white;
    text-align:center;
}

header{
    padding:40px;
    font-size:30px;
    font-weight:bold;
}

section{
    margin-top:100px;
}

button{
    padding:15px 30px;
    font-size:18px;
    border:none;
    border-radius:10px;
    background:white;
    color:#333;
    cursor:pointer;
}

button:hover{
    background:#ddd;
}
</style>
</head>

<body>

<header>
Meu Primeiro Site 🚀
</header>

<section>
<h1>Bem vindo!</
